

.dropdown-item {
    border-radius: 10px solid red;
}





body {
    background-image: url('731f4236c7465d34f90334d1385a4b21.png');
    opacity: ;
}


p{
    color: #3F2814;
}

.dropdown-item {
 color:#E19351; 
}

h2