

.dropdown-item {
    border-radius: 10px solid red;
}





body {
    background-image: url('stree.png');
   background-color: #E19351;
}


p{
    color: #3F2814;
}

.dropdown-item {
 color:#E19351; 
}

h2